#Ignore all files and folders.
/*

#Except the Assets and ProjectSettings folder, as well as the selected Git files.
!Assets/
!ProjectSettings/
!Packages/
!.gitignore
!.gitattributes
UserSettings/Layouts/default-2021.dwlt
*.dwlt
UserSettings/Layouts/default-2021.dwlt
